/* Prevents images on Canvas from overflowing. The selector is so specific is it doesn't select anything it's not supposed to */
.markdown-source-view img:not([width]) {
	max-width: 100%;
}

.ois {
	overflow: hidden;
	display: block;
	width: fit-content;
}

.ois>img {
	display: block;
	object-fit: var(--ois-default-object-fit, cover);
}

.ois>img:not[width] {
	max-width: 100%;
	width: fit-content;
}

.ois>img:not[height] {
	max-height: 100%;
	height: fit-content;
}



.ois.ois-w {
	width: var(--ois-w-num);
}

.ois.ois-w img {
	width: 100%;
}

.ois.ois-w+.ois-label-container {
	max-width: var(--ois-w-num)s;
}

.ois.ois-h {
	height: var(--ois-h-num);
}

.ois.ois-h img {
	height: 100%;
}

.ois.ois-round {
	border-radius: var(--ois-round-num, 8px);
}

.ois.ois-shadow {
	box-shadow: var(--ois-shadow-arg, var(--ois-shadow-x, 0) var(--ois-shadow-y, 0) var(--ois-shadow-blur, 0) var(--ois-shadow-spread, 0) var(--ois-shadow-col, var(--ois-shadow-opacity, rgba(0, 0, 0, 0.2))));
}

.ois.ois-shadow-s {
	box-shadow: var(--shadow-s);
}

.ois.ois-shadow-l {
	box-shadow: var(--shadow-l);
}

.ois.ois-card {
	border-radius: var(--ois-card-num, var(--ois-rounded-num, 12px));
	border-width: var(--ois-border-num, 1px);
	border-style: var(--ois-card-arg, var(--ois-border-arg, solid));
	border-color: var(--ois-card-col, var(--ois-border-col, var(--color-base-100)));
}

.ois.ois-card:not(.ois-shadow, .ois-shadow-l, .ois-shadow-l) {
	box-shadow: var(--shadow-s);
}

.ois.ois-circle {
	aspect-ratio: 1;
	border-radius: 100%;
}

.ois.ois-circle>img {
	border-radius: 100%;
	height: 100%;
	width: 100%;
}

.ois-text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	width: min-content;
	max-width: 100%;
}

.ois-text-wrapper .ois:not(.ois-w) {
	width: var(--ois-info-num, max-content);
	max-width: 100%;
}

.ois-label-container {
	flex-basis: 100%;
	text-align: center;
	font-size: var(--ois-label-num, .9em);
}

.ois.ois-italic+.ois-label-container {
	font-style: italic;
}

.ois.ois-bold+.ois-label-container {
	font-weight: bold;
}


.ois-center {
	margin-left: auto;
	margin-right: auto;
}

.ois-right {
	margin-left: auto;
}

/* Kidna the default, but why not */
.ois-left {
	margin-right: auto;
}

:is(.ois, .ois-text-wrapper).ois-float-right {
	float: right;
}

.ois.ois-float-right,
.ois.ois-float,
.ois.ois-float+.ois-label-container,
.ois.ois-float-right+.ois-label-container {
	margin-left: 1rem;
}

.ois.ois-float-left,
.ois.ois-float-left+.ois-label-container {
	margin-right: 1rem;
}

:is(.ois, .ois-text-wrapper).ois-float-left {
	float: left;
}

:is(.ois, .ois-text-wrapper).ois-float {
	float: right;
}

.ois.ois-border {
	border-color: var(--ois-border-col, var(--ois-card-col, var(--color-base-100)));
	border-style: var(--ois-border-arg, solid);
	border-width: var(--ois-border-num, 1px);
}


/*
 * It would work without dividing the styles into canvas and normal notes, but I think it could lead to
 * size issues. Also using banner in canvas wouldn't make it a full sized image, which i don't like.
 */
.canvas-node-content span.ois-banner {
	position: relative;
	left: -24px;
	top: -24px;
	object-fit: cover;
	width: calc(100% + 48px);
	height: var(--ois-banner-num, var(--ois-h-num, auto));
	display: block;
	margin-bottom: -12px;
}

.workspace-leaf-content .markdown-reading-view .ois-banner-container {
	height: calc(var(--ois-banner-num, var(--ois-h-num, var(--ois-w-num, 250px))) - 25px);
}

.workspace-leaf-content .markdown-reading-view .ois-banner-container span.ois-banner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: var(--ois-banner-num, var(--ois-h-num, var(--ois-w-num, 250px)));
	width: 100% !important;
}

.ois.ois-banner img {
	width: 100%;
	height: 100%;
	max-width: none !important;
	object-fit: cover !important;
}

/* todo */
.ois.ois-background {
	position: absolute;
	inset: 0;
}

.ois.ois-icon {
	display: inline-block;
	width: var(--ois-icon-num, 1.5em);
	height: var(--ois-icon-num, 1.5em);
	max-height: fit-content;
	max-width: fit-content;
}

.ois.ois-icon[width]:not([height]) {
	height: auto;
}

.ois.ois-icon+.ois-label-container {
	display: inline;
	font-size: 1em;
}

.ois.ois-icon+.ois-label-container::before {
	content: ' ';
}

.ois.ois-sticker {
	overflow: visible;
	height: var(--ois-sticker-num, 5em);
	width: var(--ois-sticker-num, 5em);
	--ois-sticker-border: calc(var(--ois-sticker-num, 5em) / 30);
	padding: var(--ois-sticker-border);
	filter:
		drop-shadow(var(--ois-sticker-border) 0 .25px white)
		/*  */
		drop-shadow(calc(var(--ois-sticker-border) * -1) 0 .25px white)
		/*  */
		drop-shadow(0 var(--ois-sticker-border) .25px white)
		/*  */
		drop-shadow(0 calc(var(--ois-sticker-border) * -1) .25px white)
		/*  */
		drop-shadow(0px 1.5px var(--ois-sticker-border) rgba(0, 0, 0, 0.25));
}

.ois.ois-sticker img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

/* Default value is set differently for image shifting styles */
/* Values here are overridden with the injected properties if specified */
.ois.ois-up {
	--ois-up-num: 100%;
}

.ois.ois-down {
	--ois-down-num: 100%;
}

.ois.ois-left {
	--ois-left-num: 100%;
}

.ois.ois-right {
	--ois-right-num: 100%;
}

.ois:is(.ois-up, .ois-down, .ois-left, .ois-right) img {
	object-position: calc(50% - var(--ois-left-num, 0%) / 2 + var(--ois-right-num, 0%) / 2) calc(50% - var(--ois-up-num, 0%) / 2 + var(--ois-down-num, 0%) / 2);
}

.ois.ois-scale img {
	transform: scale(var(--ois-scale-num, 1));
}

.ois:is(.ois-up, .ois-down, .ois-left, .ois-right).ois-scale img {
	/* This is the transalte amount needed to shift an image to its border */
	--ois-scale-shift: calc((1 - 1 / var(--ois-scale-num)) / 2);
	transform:
		scale(var(--ois-scale-num, 1))
		/* To calculate the actual shift amount, multiply the shift value by the up/down values */
		translateY(calc(var(--ois-scale-shift) * var(--ois-up-num, 0%) - var(--ois-scale-shift) * var(--ois-down-num, 0%)))
		/* Same for left-right */
		translateX(calc(var(--ois-scale-shift) * var(--ois-left-num, 0%) - var(--ois-scale-shift) * var(--ois-right-num, 0%)));
}

.ois-text-wrapper.ois-info {
	float: right;
	width: var(--ois-info-num, var(--ois-w-num, 35%));
	padding: .5rem .5rem .65rem .5rem;
	border: 1px solid var(--interactive-normal);
}

/* .ois.ois-info {} */
